:root {
    --ion-color-favorite: #157347;
    --ion-color-red: #e40b0b;
    --ion-color-favorite-contrast: #ffffff;
    --ion-color-favorite-contrast-rgb: 255, 255, 255;
    --ion-color-black: #000;
    --ion-color-favorite-tint: #78c288;
    
  }